/* You can add global styles to this file, and also import other style files */
input {
  border: none;
  outline: none;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#login-canvas {
  width: 100%;
  height: 100%;
}
.ant-breadcrumb {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  font-size: 14px;
}
.ant-breadcrumb > nz-breadcrumb-item:last-child,
.ant-breadcrumb > nz-breadcrumb-item:last-child a,
.ant-btn {
  color: #1890ff;
}
